<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@ViewBag.TitoloPagina</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
